/* <!-- Body  --> */
body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: rgb(233, 226, 255) !important;
	color: white !important;
	text-align: center;

	&.dark {
		background: #0f0c29!important;
		background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29)!important;
		background: linear-gradient(to right, #24243e, #302b63, #0f0c29)!important;
		color: white;

	}
}
/* <!-- welcome alert --> */
.swal2-container{
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
}

.swal2-title{
	font-size: 1.175em !important;
	font-weight: 600 !important;
	font-family: "Poiret One";
}

.swal2-popup{
	border-radius: 15px !important;
	filter: drop-shadow(0 0 10px black);
}

.swal2-html-container{
	font-size: 3em !important;
	font-weight: 600 !important;
	font-family: "Allura", cursive;
	
}
/* <!-- column-main --> */

.column-main {
	display: flex;
	align-items: center;
	flex-direction: column;
	background: rgb(223, 213, 255);
	background-attachment: fixed;
	max-width: 400px;
	width: 100%;



	body.dark & {

		background: #0f0c29;
		background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
		background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
		color: #ffffffe5;

	}
}
/* <!-- Glass-Card --> */

.glass-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 90%;
	margin: 10px;
	padding: 10px;
	border-radius: 15px;
	-webkit-backdrop-filter: blur(1px);
	backdrop-filter: blur(1px);
	background-color: rgba(15, 15, 15, 0.2);
	padding: 20px;
	transition: transform .7s, opacity .7s;
	font-family: "Poiret One";

	body.dark & {
		background-color: rgba(255, 255, 255, 0.1);
	}

	p{
		font-size: 18px;
	}

	.glass-card-header {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;

	

		h2 {
			font-size: 30px;
			margin: 0 0 15px 0;
		
		}

		h3 {
			font-size: 25px;
		
		}

	}

	.glass-card-main {
		display: flex;
		flex-direction: column;
		align-items: center;
	
	}

	.glass-card-description {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: justify;
		padding: 10px;
		
		font-family: "Poiret One";

		p{
			font-size: 19px;
			text-align: justify;
			margin-bottom: 0;
		}

		h2{
			font-size: 25px;
	
		}

		h3{
			font-size: 25px;
			font-weight: bolder;
		}
	}

	.glass-card-footer {
		display: flex;
		justify-content: space-evenly;
		align-items: space-around;
		flex-direction: row;
		text-align: center;
	}

	.boton {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50%;
		background-color: rgba(255, 255, 255, 0.192);
		width: 40%;
		margin: 2px;
		height: 50px;
		text-decoration: none;
		color: white;
		border-radius: 15px;
		font-family: "Poiret One";
		transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);

		body.dark &{
			color: white;
		}

		&:hover {
			background-color: rgba(255, 255, 255, .5);
		}



	}
}



/* <!-- Header --> */

.header{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 540px;
	margin-top: 50px;
/* 	background-image: url(../../img/ajusco-sol.jpg);
	background-clip: border-box;
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed; */
	font-family:"Josefin Sans";
    color: rgb(255, 255, 255);



	.header-header{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;

	}

	h1{
		font-size: 46px;
		color: white;
		text-shadow: 0 0 10px #24204f;
		font-family: "Allura", cursive;
		font-weight: 600;


		body.dark &{
		color: #24204f;
		text-shadow: 0 0 10px #ffffff;
		}
	}

	h2{
		margin-top: 10px;
		font-size: 30px ;
		color: white;
		text-shadow: 0 0 10px #24204f;
		font-weight: 600;

		body.dark &{
		color: #24204f;
		text-shadow: 0 0 10px #ffffff;
			}
		

	}

	h3{
		margin-top: 20px;
		font-size: 30px ;
		color: #24204f;
	}

}

.imagen-header{
	position:fixed;
	width: 100%;
	top: 0;
	z-index: -1;
	border-radius: 15px;
	height: 100%;

}

/* <!-- Countdown --> */

.counter-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: -15px;

	.cartel{
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		background-color: rgb(255, 255, 255,0.2);
		backdrop-filter: blur(1px);
		-webkit-backdrop-filter: blur(1px);
		width: 78px;
		height: 78px;
		border-radius: 50px;
		padding: 5px;
		margin: 2px;
	}

	div{
		font-size: 30px;
	}


	h3{
		font-size: 15px;
		color: white;
		margin: 0;
	}
}

/* <!-- Principal --> */

.novios-white {
    width: 60%;
    margin-left: 100px;
	filter: drop-shadow(0 0 20px rgba(0, 255, 255, 0.2));
}

/* <!-- Donde y cuando --> */

.hotel-photo{
	width: 100%;
	border-radius: 15px;
	margin: 10px;
}



/* <!-- Codigo de vestimenta --> */

.vestido-white{
	width: 50%;
	filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.3));
}


.guayabera-white{
	width: 50%;
	filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.3));
}

/* <!-- Confirmar asistencia --> */

.asistencia-card{
	padding: 0;
	width: 99%;
	padding-top: 30px;
}

.verificacion-img{
	width: 50px ;
	filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.9));
}

.google-form{
	height: 1200px;
	overflow: hidden;
	width: 100%;
}

/* <!-- Save the day --> */

.save-frame{
	width: 100% !important;
	margin: 20px;
	filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.3));
	filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.3));

}

/* <!-- Mesa de regalos --> */

.mesa-regalos{
	width: 40%;
	margin: 20px 0 30px 0;
	filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.3));

}

.glass-card-moon-footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	p{
		color: white;
		text-decoration: none;
	}

}

.honey-moon{
	width: 90px;
	filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.3));
}


/* <!-- Compartir fotos --> */

.download-app-buttons-wrapper{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	a img{
		width: 123px;
		margin: 5px;
	}
}


.cloud-img{
	width: 100px;
	filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.3));
}



/* <!-- Slider --> */

.carousel-inner{
	border-radius: 15px;
}

.slider-container{
	width: 95%;
	border-radius: 15px;
	padding: 0;
   }
   


/* <!-- Footer --> */

.footer{
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	flex-direction: column;
	border-radius: 100px 100px 0 0;
	margin-bottom: 0;
	padding: 10px;

	p{
		margin: 0;
		font-size: 14px;
	}

	a{
		color: white;
		margin: 0;
		padding: 10px;
		text-decoration: none;
		text-align: center;
		align-items: center;
		font-weight: 400;

		&:hover,:visited{
			color: white;

		}
	}
}

/* <!-- Trace my ip --> */

#elemID031021{
	display: none;
}


/* Fin */