/****** body ******/

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: rgb(233, 226, 255) !important;
	color: white !important;
	text-align: center;

	&.dark {
		background: #0f0c29!important;
		background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29)!important;
		background: linear-gradient(to right, #24243e, #302b63, #0f0c29)!important;
		color: white;

	}
}

/****** column-main ******/

.column-main {
	display: flex;
	align-items: center;
	flex-direction: column;
	background: rgb(223, 213, 255);
	background-attachment: fixed;
	max-width: 400px;
	width: 100%;



	body.dark & {

		background: #0f0c29;
		background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
		background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
		color: white;

	}
}

/****** Glass-Card ******/

.glass-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 90%;
	margin: 10px;
	padding: 10px;
	border-radius: 15px;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(1px);
	background-color: rgba(15, 15, 15, 0.3);
	padding: 20px;
	transition: transform .7s, opacity .7s;

	body.dark & {
		background-color: rgba(255, 255, 255, 0.1);
	}

	.glass-card-header {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		font-family: "Poiret One";

		h2 {
			font-size: 30px;
			margin: 0 0 15px 0;
		}

		h3 {
			font-size: 25px;
			font-weight: bolder;
		}

	}

	.glass-card-main {
		display: flex;
		flex-direction: column;
		align-items: center;
	
	}

	.glass-card-description {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: justify;
		padding: 10px;
		
		font-family: "Poiret One";

		p{
			font-size: 19px;
			text-align: justify;
			margin-bottom: 0;
		}

		h2{
			font-size: 25px;
	
		}

		h3{
			font-size: 25px;
			font-weight: bolder;
		}
	}

	.glass-card-footer {
		display: flex;
		justify-content: space-evenly;
		align-items: space-around;
		flex-direction: row;
		text-align: center;
	}

	.boton {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50%;
		background-color: rgba(255, 255, 255, 0.192);
		width: 40%;
		margin: 2px;
		height: 50px;
		text-decoration: none;
		color: white;
		border-radius: 15px;
		font-family: "Poiret One";
		transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);

		body.dark &{
			color: white;
		}

		&:hover {
			background-color: rgba(255, 255, 255, .5);
		}



	}
}

/* Header */

.header{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 465px;
/* 	background-image: url(../../img/ajusco-sol.jpg);
	background-clip: border-box;
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed; */
	font-family:"Josefin Sans";
    color: rgb(255, 255, 255);



	.header-header{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;

	}

	h1{
		font-size: 60px ;
		text-shadow: 0 0 20px #302b63;

	}

	h3{
		margin-top: 20px;
		font-size: 30px ;
		color: rgb(255, 255, 255);
	}

}

.imagen-header{
	position:fixed;
	width: 100%;
	top: 0;
	z-index: -1;
	border-radius: 15px;
	height: 100%;

}

/* Countdown */

.counter-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	.cartel{
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		background-color: rgb(255, 255, 255,0.1);
		backdrop-filter: blur(2px);
		width: 75px;
		border-radius: 50px;
		padding: 5px;
		margin: 2px;
	}

	div{
		font-size: 30px;
	}


	h3{
		font-size: 15px;
		color: white;
		margin: 0;
	}
}

/* <!-- Principal --> */

.novios-white {
    width: 60%;
    margin-left: 100px;
	filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
}

/* <!-- Donde y cuando --> */

.hotel-photo{
	width: 100%;
	border-radius: 15px;
	margin: 10px;
}

/* <!-- Codigo de vestimenta --> */

.vestido-white{
	width: 50%;
	filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
}


.guayabera-white{
	width: 50%;
	filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
}



/* <!-- google-form --> */

.asistencia-card{
	padding: 0;
	width: 99%;
	padding-top: 30px;
}

.google-form{
	height: 1500px;
	overflow: hidden;
	width: 100%;

	@media screen and (min-width:414px) {
		height: 1500px;
		width: 90%;
		
	}
}

/* <!-- Mesa de regalos --> */

.save-frame{
	width: 100% !important;
	margin: 20px;
	filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.5));
}

/* <!-- Mesa de regalos --> */

.mesa-regalos{
	width: 40%;
	margin: 20px 0 30px 0;
	filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.5));

}


/* <!-- Compartir fotos --> */

.download-app-buttons-wrapper{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	a img{
		width: 100%;
	}
}


.cloud-img{
	width: 100px;
}

.qr-share{
	width: 50%;
	margin: 20px 0 30px 0;
	border-radius: 5px;
}


/* <!-- Slider --> */

.slider-container{
	width: 95%;
	border-radius: 15px;
	padding: 0;
   }
   


/* <!-- Footer --> */



.footer{
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	flex-direction: row;
	border-radius: 50px 50px 0 0;
	margin-bottom: 0;

	a{
		color: white;
		margin: 0;
		padding: 10px;
		text-decoration: none;
		text-align: center;
		align-items: center;


		&:hover,:visited{
			color: white;

		}
	}
}



/* boton */


/****** front-page ******/

/* .front-page{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}


.titles-container{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
	p{
		display: flex;
		justify-self: flex-start;
		color: white;
		text-shadow: 0 0 10px black;
	}
}	


 */