/* Theme */

.switch-wrapper{
    position: absolute;
    top: 10px;
    left: 6px;
    z-index: 999;
}


.switch {
    background: orange;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor:pointer;
    width: 65px;
    display: flex;
    outline:none;
    transition: all 1s ease;

    &::after{
       content: "";
       display: block; 
       width:33px;
       height: 33px;
       position: absolute;
       background: #f1f1f1;
       top: 0;
       left: unset;
       right: 0;
       border-radius: 100px;
       transition: 1s ease all;
       box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
    }
    &.active{
        background: #343D5B;
        color: #000;
        &::after{
            right: unset;
            left: 0;
        }

    }

    span{
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: block;
        background: none;
        color: #fff;
    }
}